.card {
  &_with-loader {
    overflow: hidden;

    &:before {
      background: $primary-color;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
