<mat-card class="table days">
  <div *ngIf="days$ | async as days" class="table__wrapper">
    <mat-table class="table__content_exstra-large" [dataSource]="days.items">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Дата</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.date | date: 'dd.MM.yyyy' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="moneyFlows">
        <mat-header-cell *matHeaderCellDef class="table__cell_extra-large">Расходы</mat-header-cell>
        <mat-cell *matCellDef="let row" class="table__cell_extra-large">
          <button (click)="addMoneyFlow(row.id)" mat-icon-button color="accent" class="money-flow__add-button">
            <mat-icon>add</mat-icon>
          </button>

          <mat-chip-list *ngFor="let moneyFlow of row.moneyFlows">
            <mat-chip
              class="days__money-flow money-flow"
              (click)="updateMoneyFlow(moneyFlow)"
              (removed)="removeMoneyFlow(moneyFlow.id)"
              color="accent"
              selected
            >
              <div class="money-flow__description">{{ moneyFlow.description }}</div>
              <div class="money-flow__amount">-{{ moneyFlow.amount }}&nbsp;₽</div>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dailyBudget">
        <mat-header-cell *matHeaderCellDef>Бюджет на день</mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="tableCellClassName(row.dailyBudget)">{{ row.dailyBudget }}&nbsp;₽</mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalCost">
        <mat-header-cell *matHeaderCellDef>Траты за день</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.expense }}&nbsp;₽</mat-cell>
      </ng-container>

      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef>Сальдо</mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="tableCellClassName(row.balance)">{{ row.balance }}&nbsp;₽</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    </mat-table>

    <div class="table__footer">
      <div class="info table__total">
        <div class="info__value">{{ days.total }}&nbsp;₽</div>
        <div class="info__name">Итого расходов</div>
      </div>
    </div>
  </div>
</mat-card>
