@import '~assets/styles/variables';

:host {
  display: flex;
}

.set-up {
  flex: 1;
  margin: 0 auto;
  max-width: 500px;

  &__title {
    margin-bottom: 24px;
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}
