<mat-card class="period-info">
  <button mat-icon-button (click)="prevPeriod()" [disabled]="!(hasPrevPeriod$ | async)">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="period-info__content">
    <div class="info">
      <div class="info__value">Период</div>
      <div class="info__name">
        <span>{{ period.since | date: 'dd.MM.yyyy' }}</span> <span> - </span>
        <span>{{ period.until | date: 'dd.MM.yyyy' }}</span>
      </div>
    </div>

    <div class="info">
      <div class="info__value">{{ period.income }}&nbsp;₽</div>
      <div class="info__name">Доход</div>
    </div>

    <div class="info">
      <div class="info__value">{{ period.dailyBudget }}&nbsp;₽</div>
      <div class="info__name">Бюджет на день</div>
    </div>

    <div class="info info_editable" (click)="openAccumulationDialog($event)">
      <div class="info__value">{{ period.accumulation }}&nbsp;₽</div>
      <div class="info__name">Накопления</div>
    </div>

    <div class="info">
      <div class="info__value">{{ period.balance }}&nbsp;₽</div>
      <div class="info__name">Остаток</div>
    </div>
  </div>

  <button mat-icon-button (click)="nextPeriod()" [disabled]="!(hasNextPeriod$ | async)">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</mat-card>
