@import '~assets/styles/variables';

.header {
  align-items: center;
  // background-color: rgba(244, 244, 241, 0.4);
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  &__content {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 12px 48px;
  }
}

.tables {
  display: flex;

  &__item {
    flex: 1;
  
    &:first-child {
      margin-right: 8px;
    }
  
    &:last-child {
      margin-left: 8px;
    }
  }
}
