@import '~assets/styles/variables';

.settings {
  max-width: 700px;

  &__calendar {
    display: flex;
    flex-wrap: wrap;
  }

  &__day {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    user-select: none;
    width: calc(100% / 7);

    &_selected {
      color: #fff;
      font-weight: 500;
      opacity: 0.8;
      transition: opacity $transition-duration;

      // &:hover {
      //   opacity: 0.9;
      // }

      // &:active {
      //   opacity: 1;
      // }
    }

    &_hovered {
      background: $lightest-gray;
    }

    &_primary {
      background: $primary-color;
      border: 2px solid $primary-color-darkest;
      border-left-width: 0;
      border-right-width: 0;
    }

    &_primary-lighten {
      background: $primary-color-lighten;
      border: 2px solid $primary-color-darken;
      border-left-width: 0;
      border-right-width: 0;
    }

    &_secondary {
      background: $secondary-color;
      border: 2px solid $secondary-color-darkest;
      border-left-width: 0;
      border-right-width: 0;
    }

    &_secondary-lighten {
      background: $secondary-color-lighten;
      border: 2px solid $secondary-color-darken;
      border-left-width: 0;
      border-right-width: 0;
    }

    &_tertiary {
      background: $tertiary-color;
      border: 2px solid $tertiary-color-darkest;
      border-left-width: 0;
      border-right-width: 0;
    }

    &_tertiary-lighten {
      background: $tertiary-color-lighten;
      border: 2px solid $tertiary-color-darken;
      border-left-width: 0;
      border-right-width: 0;
    }

    &_first {
      border-left-width: 2px;
    }

    &_last {
      border-right-width: 2px;
    }
  }
}
