<mat-card class="table">
  <div class="table__wrapper">
    <mat-table [dataSource]="moneyFlows.items">
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>{{ title }}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.amount }}&nbsp;₽</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="table__actions_small"></mat-header-cell>
        <mat-cell class="table__actions_small" *matCellDef="let row">
          <button (click)="removeMoneyFlow($event, row.id)" mat-icon-button><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: columnsToDisplay"
        class="table__row_editable"
        (click)="updateMoneyFlow(row)"
      ></mat-row>
    </mat-table>

    <div class="table__footer">
      <div class="table__footer-action">
        <button (click)="addMoneyFlow()" mat-icon-button><mat-icon>add</mat-icon></button>
      </div>

      <div class="info table__total">
        <div class="info__value">{{ moneyFlows.total }}&nbsp;₽</div>
        <div class="info__name">Итого</div>
      </div>
    </div>
  </div>
</mat-card>
