@import 'material/material.variables';

///////////////////////
// Colors
///////////////////////
$primary-color: mat-color($primary);
$accent-color: mat-color($accent);
$warn-color: mat-color($warn);

$primary-color-lighten: #33cbba;
$primary-color-lightest: #5bcbbf;
$primary-color-darken: #1c7168;
$primary-color-darkest: #006257;

$secondary-color: #1043a0;
$secondary-color-lighten: #4375d0;
$secondary-color-lightest: #698dd0;
$secondary-color-darken: #274478;
$secondary-color-darkest: #052868;

$tertiary-color: #f88d3e;
$tertiary-color-lighten: #f8b73e;
$tertiary-color-lightest: #f8c870;
$tertiary-color-darken: #b5852d;
$tertiary-color-darkest: #9d6600;

$gray: #7a7a7a;
$light-gray: #c4c4c4;
$lightest-gray: #f5f5f5;
$dark-gray: #4f4f4f;

$table-background-hover: rgba(178, 223, 219, 0.2);
$table-background-active: rgba(178, 223, 219, 0.4);

///////////////////////
// Effects
///////////////////////
$transition-duration: 200ms !default;
$card-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

///////////////////////
// Media queries
///////////////////////
$mobile-screen-xs-min: '(min-width: 401px)';
$mobile-screen-xs-max: '(max-width: 400px)';
$mobile-screen-sm-min: '(min-width: 451px)';
$mobile-screen-sm-max: '(max-width: 450px)';
$mobile-screen-md-min: '(min-width: 551px)';
$mobile-screen-md-max: '(max-width: 550px)';
$mobile-screen-lg-min: '(min-width: 651px)';
$mobile-screen-lg-max: '(max-width: 650px)';

$tablet-screen-sm-min: '(min-width: 769px)';
$tablet-screen-sm-max: '(max-width: 768px)';
$tablet-screen-md-min: '(min-width: 851px)';
$tablet-screen-md-max: '(max-width: 850px)';
$tablet-screen-lg-min: '(min-width: 901px)';
$tablet-screen-lg-max: '(max-width: 900px)';

$desktop-screen-xs-min: '(min-width: 1025px)';
$desktop-screen-xs-max: '(max-width: 1024px)';
$desktop-screen-sm-min: '(min-width: 1201px)';
$desktop-screen-sm-max: '(max-width: 1200px)';
$desktop-screen-md-min: '(min-width: 1367px)';
$desktop-screen-md-max: '(max-width: 1366px)';
$desktop-screen-lg-min: '(min-width: 1441px)';
$desktop-screen-lg-max: '(max-width: 1440px)';

///////////////////////
// Special media queries
///////////////////////
$material-mobile-screen-min: '(min-width: 601px)';
$material-mobile-screen-max: '(max-width: 600px)';
